<div class="drive">
    <div class="drive-header">
        <%- include('./drive-nav.ejs') %> 
        <div class="add-container">
            <h2 class="create">+</h2>
            <a href="/create/folder/<% if (locals.folder) {%><%= folder.id %><% }%>">
                Folder
            </a>
            <a href="/upload/<% if (locals.folder) {%><%= folder.id %><% }%>">
                File
            </a>
        </div>
    </div>
    <hr>
    <div class="drive-content">
        <div class="structure layout">
            <div class="file-name">
                Name
            </div>
            <div class="file-size">
                Size
            </div>
            <div class="file-upload-time">
                Uploaded Time
            </div>
            <!-- <div class="file-download-count">
                Total downloads
            </div> -->
            <div class="file-download">
                Download 
            </div>
            <div class="file-delete">
                Delete
            </div>
        </div>
        <% if (locals.createFolder) { %>
            <%- include('../partials/new-folder-input.ejs') %> 
        <% } %> 
        <% if (locals.folders) { %>
            <% folders.forEach(folder => { %>
               <%- include('./folder.ejs', {folder}) %>  
            <% }); %>     
        <% } %> 
        <% if (locals.files) { %>
            <% files.forEach(file => { %>
               <%- include('../partials/file.ejs', {file}) %>  
            <% }); %>     
        <% } %> 
    </div>
</div>