<div class="file structure">
    <div class="file-icon">
        <%- include('../icons/file.svg') %> 
    </div>
    <div class="file-name">
        <span><%= file.originalname %> </span>
    </div>
    <div class="file-upload-time">
        <span><%= file.uploadtime %> </span>
    </div>
    <div class="file-download-count">
        <span><%= file.downloadCount %></span>
    </div>
    <div class="file-download">
        <%- include('../icons/download.svg') %> 
    </div>
</div>